.DS_Store
.vscode
.ipynb_checkpoints
.devcontainer

tes
tes.ipynb
shape_predictor_68_face_landmarks.dat
__pycache__/


#project data
sentimentanalysis/data/

# virtual environment
.venv
myenv

.env

configure.py

#data_folder
audio_data/
